@media (min-width:320px) and (max-width:350px) {
    .modal-box--container {
        width: 100%;
        padding: 0px 15px;
    }
    .modal-box--main-img {
        width: 60%;
        margin: 50px auto 52px;
    }
    .modal-box--fullsrceen-header {
        display: block;
        position: relative;
        font-size: 22px;
        margin-bottom: 46px;
    }
    .modal-box--fullsrceen-header small {
        font-weight: 400;
        font-size: 18px;
    }
    .modal-box--btn {
        margin-bottom: 10px;
    }
    .modal-box--top-logo {
        display: block;
        position: absolute;
        float: left;
        width: 60px;
        top:6.6%;
        right: 3.1%;
    }
    .modal-box--dialog-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        background: transparent;
        z-index: 150;
    }
    .modal-box--dialog {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        height: 100vh;
        background: #fff;
        border-radius: 0px;
        padding: 60px 15px;
    }
    .modal-box--btn-mr {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .modal-box--dialog-close {
        right: 15px;
        top:30px;
    }
    .modal-box--dialog-col-l {
        width: 100%;
    }
    .modal-box--dialog-col-r {
        width: 100%;
    }
    .modal-box--dialog-badge {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 53px;
        width: 180px;
    }
    .modal-box--switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
        top:0px;
        float: left;
        margin-top: 20px;
    }
    .modal-box--dialog-mb7 {
        margin-bottom: 40px;
    }
    .modal-box--dialog-header {
        margin-top: 0;
    }
    .modal-box--dialog-footer  {
        text-align: center!important;
    }
    .modal-box--dialog--scroll-content {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        border-radius: 0;
        padding: 60px 15px 30px;
        height: 100vh;
        z-index: 8;
    }
    .modal-box--dialog--scroll-content-header {
        padding: 0px 20px 0px;
        width: auto;
    }
    .modal-box--dialog--scroll-content-body {
        min-height: 350px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 350px;
        z-index: 9;
    }
    .modal-box--dialog--scroll-content-body-filename {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-name {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-block {
        padding: 25px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-status {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-status small {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-subheader {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #22344d;
        display: block;
        position: relative;
        float: left;
        width: auto;
        padding-left: 20px;
        margin-top: 20px;
    }
    .modal-box--dialog--scroll-content-body-block-textblc {
        display: block;
        position: relative;
        float: left;
        width: 90%;
        padding: 20px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-danger-level {
        height: 5px;
    }
    .modal-box--circle-box {
        padding: 32px 10px;
        width: auto;
        margin: 0 auto;
        min-width: auto;
    }
    .modal-box--circle-block {
        margin-bottom: 50px;
    }
    .modal-box--circle-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-box--circle-box-number-right-text, .modal-box--circle-box-number-left-text {
        font-size: 14px;
    }
} 
@media (min-width:351px) and (max-width:360px) {
    .modal-box--container {
        width: 100%;
        padding: 0px 15px;
    }
    .modal-box--main-img {
        width: 60%;
        margin: 50px auto 52px;
    }
    .modal-box--fullsrceen-header {
        display: block;
        position: relative;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.36;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: #22344d;
        text-align: center;
        margin-bottom: 46px;
    }
    .modal-box--fullsrceen-header small {
        font-weight: 400;
        font-size: 20px;
    }
    .modal-box--dialog-close {
        right: 15px;
        top:30px;
    }
    .modal-box--dialog-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        background: transparent;
        z-index: 150;
    }
    .modal-box--dialog {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        height: 100vh;
        background: #fff;
        border-radius: 0px;
        padding: 60px 15px;
    }
    .modal-box--btn-mr {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .modal-box--dialog-badge {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 53px;
        width: 180px;
    }
    .modal-box--dialog-col-l {
        width: 100%;
    }
    .modal-box--dialog-col-r {
        width: 100%;
    }
    .modal-box--switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
        top:0px;
        float: left;
        margin-top: 20px;
    }
    .modal-box--dialog-mb7 {
        margin-bottom: 40px;
    }
    .modal-box--dialog-header {
        margin-top: 0;
    }
    .modal-box--dialog-footer  {
        text-align: center!important;
    }
    .modal-box--dialog--scroll-content {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        border-radius: 0;
        padding: 60px 15px 30px;
        height: 100vh;
        z-index: 8;
    }
    .modal-box--dialog--scroll-content-header {
        padding: 0px 20px 0px;
        width: auto;
    }
    .modal-box--dialog--scroll-content-body {
        min-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
        z-index: 9;
    }
    .modal-box--dialog--scroll-content-body-filename {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-name {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-block {
        padding: 25px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-status {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-status small {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-subheader {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #22344d;
        display: block;
        position: relative;
        float: left;
        width: auto;
        padding-right: 30px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .modal-box--dialog--scroll-content-body-block-textblc {
        display: block;
        position: relative;
        float: left;
        width: 90%;
        padding: 20px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-danger-level {
        height: 5px;
    }
    .modal-box--circle-box {
        padding: 32px 10px;
        width: auto;
        margin: 0 auto;
        min-width: auto;
    }
    .modal-box--circle-block {
        margin-bottom: 50px;
    }
    .modal-box--circle-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-box--circle-box-number-right-text, .modal-box--circle-box-number-left-text {
        font-size: 14px;
    }
} 

@media (min-width:361px) and (max-width:375px) {
    .modal-box--container {
        width: 100%;
        padding: 0px 15px;
    }
    .modal-box--main-img {
        width: 60%;
        margin: 50px auto 52px;
    }
    .modal-box--fullsrceen-header {
        display: block;
        position: relative;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.36;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: #22344d;
        text-align: center;
        margin-bottom: 46px;
    }
    .modal-box--fullsrceen-header small {
        font-weight: 400;
        font-size: 20px;
    }
    .modal-box--dialog-close {
        right: 15px;
        top:30px;
    }
    .modal-box--dialog-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        background: transparent;
        z-index: 150;
    }
    .modal-box--dialog {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        height: 100vh;
        background: #fff;
        border-radius: 0px;
        padding: 60px 15px;
    }
    .modal-box--dialog-badge {
        display: block;
        position: relative;
        float: none;
        margin: 0 auto 53px;
        width: 180px;
    }
    .modal-box--btn-mr {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .modal-box--dialog-col-l {
        width: 100%;
    }
    .modal-box--dialog-col-r {
        width: 100%;
    }
    .modal-box--switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
        top:0px;
        float: left;
        margin-top: 20px;
    }
    .modal-box--dialog-mb7 {
        margin-bottom: 40px;
    }
    .modal-box--dialog-header {
        margin-top: 0;
    }
    .modal-box--dialog-footer  {
        text-align: center!important;
    }
    .modal-box--dialog--scroll-content {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        border-radius: 0;
        padding: 60px 15px 30px;
        height: 100vh;
        z-index: 8;
    }
    .modal-box--dialog--scroll-content-header {
        padding: 0px 20px 0px;
        width: auto;
    }
    .modal-box--dialog--scroll-content-body {
        min-height: 460px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 460px;
        z-index: 9;
    }
    .modal-box--dialog--scroll-content-body-filename {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-name {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-block {
        padding: 25px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-status {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-status small {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-subheader {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #22344d;
        display: block;
        position: relative;
        float: left;
        width: auto;
        padding-right: 30px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .modal-box--dialog--scroll-content-body-block-textblc {
        display: block;
        position: relative;
        float: left;
        width: 90%;
        padding: 20px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-danger-level {
        height: 5px;
    }
    .modal-box--circle-box {
        padding: 32px 10px;
        width: auto;
        margin: 0 auto;
        min-width: auto;
    }
    .modal-box--circle-block {
        margin-bottom: 50px;
    }
    .modal-box--circle-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-box--circle-box-number-right-text, .modal-box--circle-box-number-left-text {
        font-size: 14px;
    }
} 

@media (min-width:376px) and (max-width:414px) {
    .modal-box--container {
        width: 100%;
        padding: 0px 15px;
    }
    .modal-box--main-img {
        width: 60%;
        margin: 50px auto 52px;
    }
    .modal-box--fullsrceen-header {
        display: block;
        position: relative;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.36;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: #22344d;
        text-align: center;
        margin-bottom: 46px;
    }
    .modal-box--fullsrceen-header small {
        font-weight: 400;
        font-size: 20px;
    }
    .modal-box--dialog-close {
        right: 15px;
        top:30px;
    }
    .modal-box--dialog-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        background: transparent;
        z-index: 150;
    }
    .modal-box--dialog {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        height: 100vh;
        background: #fff;
        border-radius: 0px;
        padding: 60px 15px;
    }
    .modal-box--btn-mr {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .modal-box--dialog-col-l {
        width: 100%;
    }
    .modal-box--dialog-col-r {
        width: 100%;
    }
    .modal-box--switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
        top:0px;
        float: left;
        margin-top: 20px;
    }
    .modal-box--dialog-mb7 {
        margin-bottom: 40px;
    }
    .modal-box--dialog-header {
        margin-top: 0;
    }
    .modal-box--dialog-footer  {
        text-align: center!important;
    }
    .modal-box--dialog--scroll-content {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        background: #fff;
        border-radius: 0;
        padding: 60px 15px 30px;
        height: 100vh;
        z-index: 8;
    }
    .modal-box--dialog--scroll-content-header {
        padding: 0px 20px 0px;
        width: auto;
    }
    .modal-box--dialog--scroll-content-body {
        min-height: 460px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 460px;
        z-index: 9;
    }
    .modal-box--dialog--scroll-content-body-filename {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-name {
        padding-left: 20px;
    }
    .modal-box--dialog--scroll-content-body-block {
        padding: 25px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-status {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-status small {
        font-size: 14px;
    }
    .modal-box--dialog--scroll-content-body-block-subheader {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: #22344d;
        display: block;
        position: relative;
        float: left;
        width: auto;
        padding-right: 30px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .modal-box--dialog--scroll-content-body-block-textblc {
        display: block;
        position: relative;
        float: left;
        width: 90%;
        padding: 20px 20px;
    }
    .modal-box--dialog--scroll-content-body-block-danger-level {
        height: 5px;
    }
    .modal-box--circle-box {
        padding: 32px 10px;
        width: auto;
        margin: 0 auto;
        min-width: auto;
    }
    .modal-box--circle-block {
        margin-bottom: 50px;
    }
    .modal-box--circle-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-box--circle-box-number-right-text, .modal-box--circle-box-number-left-text {
        font-size: 14px;
    }
} 

@media (min-width:415px) and (max-width:640px) {
    .modal-box--container {
        width: 100%;
        padding: 0px 15px;
    }
    .modal-box--main-img {
        width: 60%;
        margin: 50px auto 52px;
    }
    .modal-box--dialog-close {
        right: 15px;
        top:30px;
    }
    .modal-box--fullsrceen-header {
        display: block;
        position: relative;
        font-size: 24px;
        letter-spacing: 1px;
        line-height: 1.36;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        color: #22344d;
        text-align: center;
        margin-bottom: 46px;
    }
    .modal-box--fullsrceen-header small {
        font-weight: 400;
        font-size: 20px;
    }
    .modal-box--wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        background: #fff;
    }
    .modal-box--dialog-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        height: auto;
        position: absolute;
        background: transparent;
        z-index: 150;
    }
    .modal-box--dialog {
        display: block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        height: 100vh;
        background: #fff;
        border-radius: 0px;
        padding: 60px 15px;
    }
    .modal-box--btn-mr {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .modal-box--dialog-col-l {
        width: 100%;
    }
    .modal-box--dialog-col-r {
        width: 100%;
    }
    .modal-box--switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 24px;
        top:0px;
        float: left;
        margin-top: 20px;
    }
    .modal-box--dialog-mb7 {
        margin-bottom: 40px;
    }
    .modal-box--dialog-header {
        margin-top: 0;
    }
    .modal-box--dialog-footer  {
        text-align: center!important;
    }
    .modal-box--circle-box {
        padding: 32px 10px;
        width: auto;
        margin: 0 auto;
        min-width: auto;
    }
    .modal-box--circle-block {
        margin-bottom: 50px;
    }
    .modal-box--circle-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-box--circle-box-number-right-text, .modal-box--circle-box-number-left-text {
        font-size: 14px;
    }
} 

@media (min-width: 768px) and (max-width: 1024px) {
    .modal-box--dialog {
        width: 70%;
        padding: 80px 60px;
    }
    .modal-box--dialog--scroll-content {
        width: 70%;
    }
}

@media (min-width: 1280px) {
    .modal-box--dialog {
        width: 52%;
        max-width: 700px;
    }
    .modal-box--dialog--scroll-content {
        width: 70%;
        max-width: 700px;
    }
    
}