.modal-box--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background: #fff;
}
.modal-box--top-logo {
    display: block;
    position: absolute;
    float: left;
    width: 105px;
    top:6.6%;
    right: 3.1%;
}
.modal-box--container {
    display: block;
    position: relative;
    float: left;
    width: 70%;
    text-align: center;
}
.modal-box--main-img {
    display: block;
    width: 30%;
    position: relative;
    float: none;
    margin: 0 auto 52px;
}
.modal-box--fullsrceen-header {
    display: block;
    position: relative;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.36;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: #22344d;
    text-align: center;
    margin-bottom: 46px;
}
.modal-box--fullsrceen-header small {
    font-weight: 400;
    font-size: 28px;
}
.modal-box--btn {
    display: inline-block;
    font-weight: 900;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 12px 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 1.21;
    border-radius: 45px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
}
.modal-box--btn:hover {
    color: #212529;
    text-decoration: none;
}  
.modal-box--btn:focus, .modal-box--btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.modal-box--btn-green {
    background: #00ae81;
    color: #fff;
}
.modal-box--btn-grey {
    background: #edf9f6;
    color: #00ae81;
}
.modal-box--btn-grey:hover {
    background: #00ae81;
    color: #fff;
}
.modal-box--btn-red {
    background-color: rgba(251, 56, 52, 0.09);
    color: #fb3834;
}
.modal-box--btn-red:hover {
    background-color: rgba(251, 56, 52, 1);
    color: #fff;
}
.modal-box--btn-mlr {
    margin: 0 8px;
}
.modal-box--btn-mr {
    margin-right: 16px;
}
.modal-box--btn-mt {
    margin-top: 46px;
}
.modal-box--dialog-mb7 {
    margin-bottom: 70px;
}
.modal-box--back {
    display: block;
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.28);
}
.modal-box--blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -ms-filter: blur(6px);
    -o-filter: blur(6px);
    filter: blur(6px);
}

/* Modal Dialog */
.modal-box--dialog-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    position: absolute;
    background: transparent;
    z-index: 150;
}
.modal-box--dialog {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    width: 52%;
    background: #fff;
    border-radius: 10px;
    padding: 70px 80px;
}
.modal-box--dialog--scroll-content {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    padding: 70px 40px 80px;
    z-index: 8;
}
.modal-box--dialog--scroll-content-header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 30px 0px;
}
.modal-box--dialog--scroll-content-body {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    min-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-bottom: 30px;
    z-index: 9;
}
#modalscroll::-webkit-scrollbar-track {
    border-radius: 5px;
	background-color: #f0f0f3;
}

#modalscroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
	background-color: #f0f0f3;
}

#modalscroll::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #6b7a8e;
}
.modal-box--dialog--scroll-content-body-filename {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    padding-left: 30px;
    letter-spacing: 0.5px;
    color: #22344d;
}
.modal-box--dialog--scroll-content-body-name {
    font-size: 20px;
    font-weight: 900;
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin-top: 20px;
    padding-left: 30px;
    margin-bottom: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #22344d;
}
.modal-box--dialog--scroll-content-body-block {
    display: block;
    position: relative;
    float: left;
    width: 80%;
    left: 0px;
    min-height: 1px;
    background: #fbfbfd;
    padding: 25px 30px;
    border-radius: 10px;
    z-index: 10;
}
.modal-box--dialog--scroll-content-body-block-header {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    color: #22344d;
    display: block;
    position: relative;
}
.modal-box--dialog--scroll-content-body-block-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0px 3px;
}
.modal-box--dialog--scroll-content-body-block-col:first-child {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 3px;
    padding-left: 0px;
}
.modal-box--dialog--scroll-content-body-block-col:last-child {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 3px;
    padding-right: 0px;
}
.modal-box--dialog--scroll-content-body-block-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-box--dialog--scroll-content-body-block-danger-level {
    display: block;
    position: relative;
    width: 100%;
    height: 14px;
    border-radius: 45px;
    background: #d7dce0;
}
.modal-box--dialog--scroll-content-body-block-danger-level.red {
    background: #f9245a;
}
.modal-box--dialog--scroll-content-body-block-danger-level.green {
    background: #00ae81;
}
.modal-box--dialog--scroll-content-body-block-status {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #22344d;
    display: block;
    position: relative;
    float: left;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 0;
    margin-top: 30px;
}
.modal-box--dialog--scroll-content-body-block-status small {
    font-weight: 400;
    font-size: 18px;
}
.modal-box--dialog--scroll-content-body-block-status li {
    margin-bottom: 10px;
}
.modal-box--dialog--scroll-content-body-block-status li:last-child {
    margin-bottom: 0px;
}
.modal-box--dialog--scroll-content-body-block-subheader {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #22344d;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 30px;
    margin-top: 20px;
}
.modal-box--dialog--scroll-content-body-block-textblc {
    display: block;
    position: relative;
    float: left;
    width: 90%;
    padding: 20px 30px;
}
.modal-box--dialog-header {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    color: #22344d;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 20px;
}
.modal-box--dialog-footer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
.modal-box--dialog-subheader {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #22344d;
    margin-block-start: 0;
    margin-block-end: 0;
}
.modal-box--dialog-text-mb {
    margin-bottom: 0px;
    margin-top: 10px !important;
}
.modal-box--dialog-text {
    display: block;
    position: relative;
    float: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.5px;
    color: #22344d;
    margin-block-start: 0;
    margin-block-end: 0;
}
.modal-box--dialog-divider {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #d6d9de;
    height: 1px;
    margin: 20px 0;
}
.modal-box--dialog-col-l {
    display: block;
    position: relative;
    float: left;
    width: 50%;
}
.modal-box--dialog-col-r {
    display: block;
    position: relative;
    float: left;
    width: 50%;
}
.modal-box--dialog-icon-autoscan {
    display: inline-block;
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
    background: url('../images/ic-autoscan.svg') no-repeat left center;
    top:-4px;
}
.modal-box--dialog-icon-text {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #31394c;
    margin-left: 6px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.modal-box--dialog-close {
    display: block;
    position: absolute;
    float: left;
    width:24px;
    height: 24px;
    right: 30px;
    top:30px;
    background: url('../images/ic-close.svg') no-repeat center center;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
}
.modal-box--dialog-close:hover {
    opacity: 0.6;
}

.modal-box--switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    top:-2px;
    float: right;
  }
  .modal-box--switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .modal-box--slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .modal-box--slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .modal-box--slider {
    background-color: #00ae81;
  }
  
  input:focus + .modal-box--slider {
    box-shadow: 0 0 1px transparent;
  }
  
  input:checked + .modal-box--slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
.modal-box--dialog-icon-info {
    display: inline-block;
    position: relative;
    float: none;
    width: 16px;
    height: 16px;
    background: url('../images/ic-help.svg') no-repeat center center;
    background-size: 16px 16px;
    margin-left: 8px;
    top:3px;
}
.modal-box--dialog-badge {
    display: block;
    position: relative;
    float: none;
    margin: 0 auto 53px;
    width: auto;
}

/* Circle */
  .modal-box--circle-block {
    position: relative;
    width: 230px;
    height: 215px;
    float: none;
    margin: 0 auto;
    background-image: linear-gradient(206deg, #ebebf0, rgba(247, 247, 250, 0));
    border-radius: 50%;
    padding-top: 15px;
    margin-bottom: 80px;
}

  
  .modal-box--circle-progress {
      transform: rotate(-90deg);
  }
  
  .modal-box--circle-progress_value {
      stroke-dasharray: 339.292;
      stroke-dashoffset: 339.292;
    animation-name:progress;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes progress {
      from {
          stroke-dashoffset: 339.292;
      }
      to {
          stroke-dashoffset: 0;
      }
  }
  
  .modal-box--circle-progress__meter,
  .modal-box--circle-progress_ing {
      fill: none;
  }
  .modal-box--circle-progress__meter {
      stroke: #d7dce0;
  }
  
  .modal-box--circle-progress_ing {
      stroke: #f9245a;
      stroke-linecap: round;
  }
.modal-box--circle-progress__meter.green {
    stroke: #d7dce0;
}

.modal-box--circle-progress_ing.green {
    stroke: #00c290;
    stroke-linecap: round;
}
  
  .modal-box--circle-progress_num {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    color: #31394c;
    line-height: 230px;
  }
  .modal-box--circle-progress_num sup {
    font-size: 20px;
    top: 0;
  }

.modal-box--circle-box {
    display: block;
    position: relative;
    float: none;
    border-radius: 10px;
    background-color: #fbfbfd;
    padding: 42px 70px;
    width: 400px;
    margin: 0 auto;
    min-width: 400px;
}
.modal-box--circle-box-number-left {
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fb3834;
    display: block;
    position: relative;
    width: 100%;
}
.modal-box--circle-box-number-left-text {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fb3834;
}
.modal-box--circle-box-number-right {
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #31394c;
    display: block;
    position: relative;
    width: 100%;
}
.modal-box--circle-box-number-right-text {
    opacity: 0.7;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #6b7a8e;
}
.modal-box--circle-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.modal-box--circle-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0px 3px;
}
.modal-box--circle-scan {
    width: 80px;
    height: 80px;
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    top: 34%;
    left: 50%;
    margin-left: -40px;
}
.modal-box--circle-header {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #31394c;
    text-align: center;
    display: block;
    position: relative;
    float: none;
    margin-bottom: 10px;
}
.modal-box--circle-subheader {
    opacity: 0.7;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #00ae81;
}

